html,
body {
    font-size: 1rem;
    width: 100%;
    height: 100%;
}

body {
    padding-top: 0;
    background-color: rgb(22, 22, 22);
    /*font-family: 'Anton', sans-serif;
    font-family: 'Comfortaa', cursive;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Lobster Two', cursive;
    font-family: 'Manrope', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Gravitas One', cursive;*/
}


/*NAV BAR*/
.navbar {
    height: fit-content;
    width: 100%;
    background-color: rgba(17, 17, 17, 0);
}
.navbar-brand  {
    text-align: center;
    font-family: 'Manrope', sans-serif;
    text-decoration-style: none;
    color: rgb(255, 255, 255);
}
a.nav-link {
    font-family: 'Manrope', sans-serif;
    text-decoration-style: none;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    padding-bottom: 0.7rem;
    border-left: 1px solid rgb(255, 255, 255);
    transition: all .1s;
}
a.nav-link:hover {
    color: rgb(248, 181, 80);
    border-left: 1px solid rgb(248, 181, 80);
} 
.nav-item {
    list-style-type: none;
}
.navbar-dark .navbar-toggler {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    border-radius: 0rem;
}
button.navbar-toggler {
    height: 3.5rem;
}
button.navbar-toggler:focus {
    outline: none;
    border-color: rgb(248, 181, 80);
}
.navbar-collapse {
    margin-left: 40rem;
}

/*END OF NAV BAR*/


/*BANNER*/
.bannerIMG {
    background-image: linear-gradient(-120deg, rgba(0, 0, 0, 0.315)0%, rgba(0, 0, 0, 0.884)90%), url("images/famuslocaux.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron {
    height: 40rem;
    margin: 0rem;
}
.container {
    margin-top: 5rem;
}
h1.banner {
    color: rgb(255, 255, 255);
    font-size: 5rem;
    font-family: 'Gravitas One', cursive;
    text-align: center;
    line-height: 4rem;
}
p.lead {
    font-family: 'Manrope', sans-serif;
    font-weight: 560;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    line-height: 2rem;
    margin-bottom: 0.1rem;
}
.bannerIcon {
    margin: 0 auto;
    display: block;
    width: 17rem;
    height: 12rem;
}
.blockquote {
    color: rgba(255, 255, 255, 0.829);
}
blockquote p {
    font-size: 1rem;
    font-family: 'Manrope', sans-serif;
}
.fa-facebook {
    font-size: 1.5rem;
    color: white;
}
.fa-facebook:hover {
    color: rgb(248, 181, 80);
}
  
/*END OF BANNER*/

/*INFOS*/

/*END OF INFOS*/

/*FOOTER*/
.footer {
    height: 3.75rem;
    padding-top: 1rem;
    background-color: #292929;
}
.fleche5 {
    margin-top: 1.8rem;
    color: #e6b244;
    transition: margin-top .1s ease-out;
}
.fleche5:hover {
    margin-top: 1.3rem;
    color: #2db6af;
}
.footer span {
    font-family: 'Manrope', sans-serif;
    font-weight: lighter;
    color: rgba(243, 229, 103, 0.568);
}
.contactFooter {
    color: rgba(255, 202, 87, 0.466);
    font-size: 1.5rem;
    padding-left: 1rem;
}
.contactFooter:hover {
    color: rgb(255, 202, 87);
    font-size: 1.5rem;
    padding-left: 1rem;
}
.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}
/*END OF FOOTER*/


/*PADDING UNDER NAVBAR AND TYPO RESPONSIVE*/
/*XXXL*/

@media (min-width: 2560px) {
}

@media (max-width: 1440px) {
}


/*XL*/
@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
}


/*LG*/
@media (max-width: 992px) {
}


/*MD*/
@media (max-width: 768px) {
}

@media (max-width: 640px) {
}

@media (max-width: 576px) {
}


/*SM*/
@media (max-width: 425px) {
}


/*XS*/
@media (max-width: 375px) {
}

@media (max-width: 320px) {
}


/*ANIMATION KEYFRAMES*/
