html, body {
    font-size: 1rem;
    width: 100%;
    height: 100%;
}

body {
    padding-top: 0;
    background-color: rgb(22, 22, 22);
    /*
    font-family: 'MuseoModerno', cursive;
    font-family: 'Roboto', sans-serif;
    */
}

/*NAV BAR*/

.navbar {
    height: fit-content;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-brand {
    text-align: center;
    font-family: 'Manrope', sans-serif;
    text-decoration-style: none;
    color: rgb(255, 255, 255);
}

a.nav-link {
    font-family: 'Manrope', sans-serif;
    text-decoration-style: none;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    padding-bottom: 0.7rem;
    border-left: 1px solid rgb(255, 255, 255);
    transition: all .1s;
}

a.nav-link:hover {
    color: rgb(248, 181, 80);
    border-left: 1px solid rgb(248, 181, 80);
}

.nav-item {
    list-style-type: none;
}

.navbar-dark .navbar-toggler {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    border-radius: 0rem;
}

button.navbar-toggler {
    height: 3.5rem;
}

button.navbar-toggler:focus {
    outline: none;
    border-color: rgb(248, 181, 80);
}

.navbar-collapse {
    margin-left: 40rem;
}

/*END OF NAV BAR*/

/*BANNER*/

.bannerIMG {
    background-image: linear-gradient(-120deg, rgba(0, 0, 0, 0.315)0%, rgba(0, 0, 0, 0.884)90%), url("images/famuslocaux.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.jumbotron {
    height: 55rem;
    margin: 0rem;
}

.container {
    margin-top: 5rem;
}

h1.banner {
    color: rgb(255, 255, 255);
    font-size: 5rem;
    font-family: 'MuseoModerno', cursive;
    font-weight: bold;
    text-align: center;
    line-height: 4rem;
}

p.lead {
    font-family: 'Manrope', sans-serif;
    font-weight: 560;
    font-size: 1.5rem;
    color: rgb(236, 236, 236);
    text-align: center;
    line-height: 2rem;
    margin-bottom: 0.1rem;
}

.bannerIcon {
    margin: 0 auto;
    display: block;
    width: 17rem;
    height: 12rem;
}

.blockquote {
    color: rgba(255, 255, 255, 0.829);
}

blockquote p {
    font-size: 1rem;
    font-family: 'Manrope', sans-serif;
    line-height: 1.5rem;
}

.blockquote-footer {
    font-size: 1rem;
    font-family: 'Manrope', sans-serif;
    color: rgb(143, 143, 143);
    text-align: center;
}

.fa-facebook {
    font-size: 1.5rem;
    color: rgb(236, 236, 236);
}

.fa-facebook:hover {
    color: rgb(248, 181, 80);
}

.fa-star-half-alt span {
    font-family: 'Manrope', sans-serif;
    color: rgb(158, 158, 158);
}

.fa-star, .fa-star-half-alt {
    color: rgb(248, 181, 80);
}

.certif {
    font-size: 1rem;
    font-family: 'Manrope', sans-serif;
    color: rgb(248, 181, 80);
}

.certifSpace {
    margin: 3rem 0.5rem;
}

/*END OF BANNER*/

/*INFOS*/

.infos {
    margin: 7rem 0rem;
}

.adresse {
    width: 400px;
    padding: 0rem 2rem;
}

div.adresse h2 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-family: 'MuseoModerno', cursive;
    text-align: center;
    line-height: 4rem;
    padding-top: 0.2rem;
    margin: 0rem;
}

div.adresse p {
    font-size: 1rem;
    font-family: 'Manrope', sans-serif;
    color: rgb(236, 236, 236);
}

.bold {
    border-left: 1px solid rgb(248, 181, 80);
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: rgb(248, 181, 80);
    padding-left: 1rem;
}

.photoInfos {
    width: 400px;
    height: 400px;
    padding: 0rem !important;
    margin: 0rem !important;
}

li {
    color: rgb(224, 223, 223);
}

/*END OF INFOS*/

/*GALERIE*/

.anchor {
    background-color: rgb(22, 22, 22);
    width: 0rem;
}

.fb-page {
    width: 400px;
}

.center-block {
    overflow: hidden;
    height: 400px;
}

.skullColor {
    background-image: url("images/skullColor.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 400px;
    height: 400px;
    padding: 0rem !important;
}

div.skullColor h2 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-family: 'MuseoModerno', cursive;
    text-align: center;
    line-height: 4rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

/*END OF GALERIE*/

/*PRICES*/

.priceTitle {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-family: 'MuseoModerno', cursive;
    text-align: center;
    margin: 1rem;
}

.priceCard {
    width: 20rem;
    height: fit-content;
    border: 1px solid rgb(71, 71, 71);
    margin: 2rem;
}

.pricePhoto {
    border-bottom: 1px solid rgb(71, 71, 71);
    display: flex;
    margin: 0 auto;
    width: 20rem;
    height: 10rem;
    background-image: url("images/skullColor.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.priceCoupe {
    border-bottom: 1px solid rgb(71, 71, 71);
    display: flex;
    margin: 0 auto;
    width: 20rem;
    height: 10rem;
    background-image: url("images/skullCut.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.priceSoin {
    border-bottom: 1px solid rgb(71, 71, 71);
    display: flex;
    margin: 0 auto;
    width: 20rem;
    height: 10rem;
    background-image: url("images/skullSoin.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

h3.price {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-family: 'MuseoModerno', cursive;
    text-align: center;
    margin: 1rem;
}

.pPrice {
    border-left: 1px solid rgb(248, 181, 80);
    letter-spacing: 0.1rem;
    color: rgb(248, 181, 80);
    padding-left: 1rem;
    font-size: 1rem;
}

.Price€ {
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: rgb(212, 212, 212);
    margin: 0 auto;
    font-size: 1rem;
}

/*END OF PRICES*/

/*REVIEWS*/

.carousel {
    width: 900px;
    margin: auto auto;
}

.carousel-inner {
    width: 750px;
    height: 240px;
    margin: auto auto;
}

.carousel-control-prev, .carousel-control-next {
    width: 5rem;
}

.reviews {
    padding-bottom: 5rem;
    padding-top: 5rem;
}

section.reviews h2 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-family: 'MuseoModerno', cursive;
    text-align: center;
    line-height: 4rem;
    padding-bottom: 2rem;
    margin: 0rem;
    width: 100%;
}

section.reviews {
    background-color: rgb(8, 8, 8);
}

/*END OF REVIEWS*/

/*FOOTER*/

.footer {
    height: 3.75rem;
    padding-top: 1rem;
    background-color: rgb(8, 8, 8);
}

.footer span {
    font-family: 'Manrope', sans-serif;
    font-weight: lighter;
    color: rgba(99, 99, 99, 0.568);
}

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

/*END OF FOOTER*/

/*PADDING UNDER NAVBAR AND TYPO RESPONSIVE*/

/*XXXL*/

@media (min-width: 2560px) {
    /*NAVBAR*/
    .navbar-collapse {
        margin-left: 50rem;
    }
    a.nav-link {
        font-size: 2rem;
        margin-top: 1rem;
    }
    /*BANNER*/
    img {
        width: 15rem;
        height: 8rem;
    }
    h1.banner {
        font-size: 6rem;
        margin-top: 1rem;
    }
    blockquote p, .blockquote-footer {
        font-size: 1.4rem;
    }
    /*INFOS*/
    .infos {
        margin: 7rem 0rem;
    }
    .adresse {
        width: 500px;
    }
    div.adresse h2 {
        font-size: 4rem;
    }
    div.adresse p {
        font-size: 1.4rem;
    }
    .photoInfos {
        width: 500px;
        height: 500px;
    }
    li {
        font-size: 1.4rem;
    }
    iframe.googleMaps {
        width: 500px;
        height: 500px;
    }
    /*GALERIE*/
    .center-block {
        width: 500px;
        height: 500px;
    }
    .fb-page {
        width: 500px;
        height: 500px;
    }
    .skullColor {
        width: 500px;
        height: 500px;
    }
    div.skullColor h2 {
        font-size: 3.5rem;
    }
    /*PRICES*/
    .priceTitle {
        font-size: 3.5rem;
    }
    .priceCard {
        width: 40rem;
    }
    .pricePhoto {
        width: 40rem;
        height: 20rem;
    }
    .priceCoupe {
        width: 40rem;
        height: 20rem;
    }
    .priceSoin {
        width: 40rem;
        height: 20rem;
    }
    h3.price {
        font-size: 3rem;
    }
    .pPrice {
        font-size: 1.4rem;
    }
    .Price€ {
        font-size: 1.4rem;
    }
    /*REVIEWS*/
    .carousel {
        width: 900px;
        margin: auto 0rem;
    }
    .carousel-inner {
        width: 600px;
        height: 270px;
        margin: auto 11rem;
    }
    .carousel-control-prev, .carousel-control-next {
        width: 5rem;
    }
    section.reviews h2 {
        font-size: 3.5rem;
    }
}

@media (max-width: 1440px) {
    /*NAVBAR*/
    .navbar-collapse {
        margin-left: 23rem;
    }
    a.nav-link {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    /*BANNER*/
    img {
        width: 10rem;
        height: 5rem;
    }
    h1.banner {
        font-size: 6rem;
        margin-top: 1rem;
    }
    blockquote p, .blockquote-footer {
        font-size: 1.1rem;
    }
    /*INFOS*/
    .infos {
        margin: 7rem 0rem;
    }
    .adresse {
        width: 400px;
    }
    div.adresse h2 {
        font-size: 3rem;
    }
    div.adresse p {
        font-size: 1rem;
    }
    .photoInfos {
        width: 400px;
        height: 400px;
    }
    li {
        font-size: 1rem;
    }
    iframe.googleMaps {
        width: 400px;
        height: 400px;
    }
    /*GALERIE*/
    .center-block {
        width: 400px;
        height: 400px;
    }
    .fb-page {
        width: 400px;
        height: 400px;
    }
    .skullColor {
        width: 400px;
        height: 400px;
    }
    div.skullColor h2 {
        font-size: 3rem;
    }
    /*PRICES*/
    .priceTitle {
        font-size: 3rem;
    }
    .priceCard {
        width: 40rem;
    }
    .pricePhoto {
        width: 40rem;
        height: 20rem;
    }
    .priceCoupe {
        width: 40rem;
        height: 20rem;
    }
    .priceSoin {
        width: 40rem;
        height: 20rem;
    }
    h3.price {
        font-size: 2rem;
    }
    .pPrice {
        font-size: 1rem;
    }
    .Price€ {
        font-size: 1rem;
    }
    /*REVIEWS*/
    .carousel {
        width: 900px;
        margin: auto 0rem;
    }
    .carousel-inner {
        width: 600px;
        height: 270px;
        margin: auto 11rem;
    }
    .carousel-control-prev, .carousel-control-next {
        width: 5rem;
    }
    section.reviews h2 {
        font-size: 3rem;
    }
}

/*XL*/

@media (max-width: 1200px) {
    .navbar-collapse {
        margin-left: 9rem;
    }
    /*NAVBAR*/
    .navbar-collapse {
        margin-left: 23rem;
    }
    a.nav-link {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    /*BANNER*/
    img {
        width: 10rem;
        height: 5rem;
    }
    h1.banner {
        font-size: 6rem;
        margin-top: 1rem;
    }
    blockquote p, .blockquote-footer {
        font-size: 1.1rem;
    }
    /*INFOS*/
    .infos {
        margin: 7rem 0rem;
    }
    .adresse {
        width: 400px;
    }
    div.adresse h2 {
        font-size: 3rem;
    }
    div.adresse p {
        font-size: 1rem;
    }
    .photoInfos {
        width: 400px;
        height: 400px;
    }
    li {
        font-size: 1rem;
    }
    iframe.googleMaps {
        width: 400px;
        height: 400px;
    }
    /*GALERIE*/
    .center-block {
        width: 400px;
        height: 400px;
    }
    .fb-page {
        width: 400px;
        height: 400px;
    }
    .skullColor {
        width: 400px;
        height: 400px;
    }
    div.skullColor h2 {
        font-size: 3rem;
    }
    /*PRICES*/
    .priceTitle {
        font-size: 3rem;
    }
    .priceCard {
        width: 40rem;
    }
    .pricePhoto {
        width: 40rem;
        height: 20rem;
    }
    .priceCoupe {
        width: 40rem;
        height: 20rem;
    }
    .priceSoin {
        width: 40rem;
        height: 20rem;
    }
    h3.price {
        font-size: 2rem;
    }
    .pPrice {
        font-size: 1rem;
    }
    .Price€ {
        font-size: 1rem;
    }
    /*REVIEWS*/
    .carousel {
        width: 900px;
        margin: auto 0rem;
    }
    .carousel-inner {
        width: 600px;
        height: 270px;
        margin: auto 11rem;
    }
    .carousel-control-prev, .carousel-control-next {
        width: 5rem;
    }
    section.reviews h2 {
        font-size: 3rem;
    }
    .reviews {
        padding-bottom: 0.1rem;
        padding-top: 1rem;
    }
}

@media (max-width: 1024px) {
    .navbar-collapse {
        margin-left: 10rem;
    }
    a.nav-link {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    /*BANNER*/
    img {
        width: 10rem;
        height: 5rem;
    }
    h1.banner {
        font-size: 6rem;
        margin-top: 1rem;
    }
    blockquote p, .blockquote-footer {
        font-size: 1.1rem;
    }
    /*INFOS*/
    .infos {
        margin: 7rem 0rem;
    }
    .adresse {
        width: 500px;
    }
    div.adresse h2 {
        font-size: 3rem;
    }
    div.adresse p {
        font-size: 1.1rem;
    }
    .photoInfos {
        width: 500px;
        height: 500px;
    }
    li {
        font-size: 1.1rem;
    }
    iframe.googleMaps {
        width: 500px;
        height: 500px;
    }
    /*GALERIE*/
    .center-block {
        width: 500px;
        height: 500px;
    }
    .fb-page {
        width: 500px;
        height: 500px;
    }
    .skullColor {
        width: 500px;
        height: 500px;
    }
    div.skullColor h2 {
        font-size: 3rem;
    }
    /*PRICES*/
    .priceTitle {
        font-size: 3rem;
    }
    .priceCard {
        width: 40rem;
    }
    .pricePhoto {
        width: 40rem;
        height: 20rem;
    }
    .priceCoupe {
        width: 40rem;
        height: 20rem;
    }
    .priceSoin {
        width: 40rem;
        height: 20rem;
    }
    h3.price {
        font-size: 2.5rem;
    }
    .pPrice {
        font-size: 1.2rem;
    }
    .Price€ {
        font-size: 1.4rem;
    }
    /*REVIEWS*/
    .carousel {
        width: 900px;
        margin: auto 0rem;
    }
    .carousel-inner {
        width: 600px;
        height: 270px;
        margin: auto 11rem;
    }
    .carousel-control-prev, .carousel-control-next {
        width: 5rem;
    }
    section.reviews h2 {
        font-size: 3.5rem;
    }
}

/*LG*/

@media (max-width: 992px) {
    .navbar-collapse {
        margin-left: 10rem;
    }
    a.nav-link {
        font-size: 1.3rem;
        margin-top: 1rem;
    }
    /*BANNER*/
    img {
        width: 10rem;
        height: 5rem;
    }
    h1.banner {
        font-size: 6rem;
        margin-top: 1rem;
    }
    blockquote p, .blockquote-footer {
        font-size: 1.1rem;
    }
    /*INFOS*/
    .infos {
        margin: 7rem 0rem;
    }
    .adresse {
        width: 500px;
    }
    div.adresse h2 {
        font-size: 3rem;
    }
    div.adresse p {
        font-size: 1.1rem;
    }
    .photoInfos {
        width: 500px;
        height: 500px;
    }
    li {
        font-size: 1.1rem;
    }
    iframe.googleMaps {
        width: 500px;
        height: 500px;
    }
    /*GALERIE*/
    .center-block {
        width: 500px;
        height: 500px;
    }
    .fb-page {
        width: 500px;
        height: 500px;
    }
    .skullColor {
        width: 500px;
        height: 500px;
    }
    div.skullColor h2 {
        font-size: 3rem;
    }
    /*PRICES*/
    .priceTitle {
        font-size: 3rem;
    }
    .priceCard {
        width: 35rem;
    }
    .pricePhoto {
        width: 35rem;
        height: 15rem;
    }
    .priceCoupe {
        width: 35rem;
        height: 15rem;
    }
    .priceSoin {
        width: 35rem;
        height: 15rem;
    }
    h3.price {
        font-size: 2rem;
    }
    .pPrice {
        font-size: 1.1rem;
    }
    .Price€ {
        font-size: 1.1rem;
    }
    /*REVIEWS*/
    .carousel {
        width: 900px;
        margin: auto 0rem;
    }
    .carousel-inner {
        width: 600px;
        height: 270px;
        margin: auto 11rem;
    }
    .carousel-control-prev, .carousel-control-next {
        width: 5rem;
    }
    section.reviews h2 {
        font-size: 3rem;
    }
}

/*MD*/

@media (max-width: 768px) {
    .navbar-collapse {
        margin-left: 14rem;
    }
    /*GALERIE*/
    .center-block {
        width: 500px;
        height: 500px;
    }
    /*REVIEWS*/
    .carousel {
        width: 700px;
        margin: auto 0rem;
    }
    .carousel-inner {
        width: 600px;
        height: 250px;
        margin: auto 4.5rem;
    }
    .carousel-control-prev, .carousel-control-next {
        width: 3rem;
    }
    section.reviews h2 {
        font-size: 3rem;
    }
}

@media (max-width: 640px) {
    .navbar-collapse {
        margin-left: 10rem;
    }
    /*REVIEWS*/
    .carousel {
        width: fit-content;
        margin: auto 0rem;
    }
    .carousel-inner {
        width: fit-content;
        height: 250px;
        margin: auto 1.4rem;
    }
    .carousel-control-prev, .carousel-control-next {
        width: 1rem;
        height: 15rem;
    }
    section.reviews h2 {
        font-size: 3rem;
    }
}

@media (max-width: 576px) {
    .navbar-collapse {
        margin-left: 9rem;
    }
    /*REVIEWS*/
    .carousel {
        width: 540px;
        margin: auto 0rem;
    }
    .carousel-inner {
        width: 550px;
        height: 265px;
        margin: auto 0rem;
    }
    .carousel-control-prev, .carousel-control-next {
        width: 5rem;
        height: 5rem;
        margin-bottom: 20rem;
        position: absolute;
        transform: translate(0%, -100%);
    }
}


/*SM*/

@media (max-width: 425px) {
    .navbar-collapse {
        margin-left: 5rem;
    }
    .bannerIcon {
        margin: 0 auto;
        display: block;
        width: 17rem;
        height: 12rem;
    }
    a.nav-link {
        font-size: 1.1rem;
        padding-left: 0.5rem;
        height: 2rem;
        margin-top: 0rem;
        padding-right: 0.5rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    .nav-item {
        height: 2rem;
    }
    .priceCard {
        width: 25rem;
    }
    .priceSoin {
        width: 25rem;
        height: 12rem;
    }
    .priceCoupe {
        width: 25rem;
        height: 12rem;
    }
    .pricePhoto {
        width: 25rem;
        height: 12rem;
    }
    .photoInfos {
        width: 400px;
        height: 400px;
    }
    iframe.googleMaps {
        width: 400px;
        height: 400px;
    }
    .colInfos, .colGalerie {
        padding: 0rem;
    }
    .center-block {
        width: 400px;
        height: 400px;
        overflow: hidden;
    }
    .skullColor {
        width: 400px;
        height: 400px;
    }
    .fb_iframe_widget_fluid span {
        width: 400px !important;
        height: 400px !important;
    }
    /*REVIEWS*/
    .carousel {
        width: 400px;
        height: 350px !important;
        margin: auto 0rem;
        
    }
    .carousel-inner {
        width: 400px;
        height: 300px !important;
        margin: auto 0;
        overflow: hidden;
    }
    .carousel-control-prev, .carousel-control-next {
        width: 5rem;
        margin-bottom: 0rem;
    }
    section.reviews h2 {
        font-size: 3rem;
    }
    .fb_iframe_widget iframe {
        width: 400px !important;
        height: 330px !important;
    }
    .fb_iframe_widget_fluid {
        width: 400px !important;
        height: 330px !important;
    }
    .fb-page {
        width: 400px;
        height: 400px;
    }
    .footer {
        height: 7rem;
        padding: 2rem 1rem;
        background-color: rgb(8, 8, 8);
    }
}

/*XS*/

@media (max-width: 375px) {
    .navbar-collapse {
        margin-left: 4rem;
    }
    .bannerIcon {
        margin: 0 auto;
        display: block;
        width: 17rem;
        height: 12rem;
    }
    a.nav-link {
        font-size: 1.1rem;
        padding-left: 0.5rem;
        height: 2rem;
        margin-top: 0rem;
        padding-right: 0.5rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    h1.banner {
        font-size: 4rem;
        margin-top: 1rem;
    }
    .colSmall {
        padding: 0rem;
    }
    .nav-item {
        height: 2rem;
    }
    .priceCard {
        width: 22rem;
    }
    .priceSoin {
        width: 22rem;
        height: 10rem;
    }
    .priceCoupe {
        width: 22rem;
        height: 10rem;
    }
    .pricePhoto {
        width: 22rem;
        height: 10rem;
    }
    .photoInfos {
        width: 375px;
        height: 380px;
    }
    iframe.googleMaps {
        width: 380px;
        height: 380px;
    }
    .colInfos, .colGalerie {
        padding: 0rem;
    }
    .center-block {
        width: 380px;
        height: 380px;
        overflow: hidden;
    }
    .skullColor {
        width: 380px;
        height: 380px;
    }
    /*REVIEWS*/
    .carousel {
        width: 375px;
        height: 350px !important;
        margin: auto 0rem;
        
    }
    .carousel-inner {
        width: 375px;
        height: 300px !important;
        margin: auto 0rem;
        overflow: hidden;
    }
    .carousel-control-prev, .carousel-control-next {
        width: 5rem;
        margin-bottom: 0rem;
    }
    section.reviews h2 {
        font-size: 3rem;
    }
    .fb_iframe_widget iframe { /*works*/
        width: 375px !important;
        height: 330px !important;
    }
    .fb_iframe_widget_fluid {
        width: 375px !important;
        height: 300px !important;
    }
    .fb_iframe_widget span {
        width: 375px !important;
        height: 300px !important;
    }
    .fb-page {
        width: 375px;
        height: 380px;
    }
    .footer {
        height: 7rem;
        padding: 2rem 1rem;
        background-color: rgb(8, 8, 8);
    }
}

@media (max-width: 320px) {
    .navbar-collapse {
        margin-left: 2rem;
    }
    .bannerIcon {
        margin: 0 auto;
        display: block;
        width: 17rem;
        height: 12rem;
    }
    a.nav-link {
        font-size: 1.1rem;
        padding-left: 0.5rem;
        height: 2rem;
        margin-top: 0rem;
        padding-right: 0.5rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    h1.banner {
        font-size: 4rem;
        margin-top: 1rem;
    }
    .colSmall {
        padding: 0rem;
    }
    .nav-item {
        height: 2rem;
    }
    .priceCard {
        width: 19rem;
    }
    .priceSoin {
        width: 19rem;
        height: 9rem;
    }
    .priceCoupe {
        width: 19rem;
        height: 9rem;
    }
    .pricePhoto {
        width: 19rem;
        height: 9rem;
    }
    .photoInfos {
        width: 320px;
        height: 320px;
    }
    iframe.googleMaps {
        width: 320px;
        height: 320px;
    }
    .colInfos, .colGalerie {
        padding: 0rem;
    }
    .center-block {
        width: 320px;
        height: 320px;
        overflow: hidden;
    }
    .skullColor {
        width: 320px;
        height: 320px;
    }
    /*REVIEWS*/
    .carousel {
        width: 320px;
        height: 320px !important;
        margin: auto 0rem;
        
    }
    .carousel-inner {
        width: 320px;
        height: 320px !important;
        margin: auto 0rem;
        overflow: hidden;
    }
    .carousel-control-prev, .carousel-control-next {
        width: 5rem;
        margin-bottom: 0rem;
    }
    section.reviews h2 {
        font-size: 3rem;
    }
    .fb_iframe_widget iframe { /*works*/
        width: 320px !important;
        height: 320px !important;
    }
    .fb_iframe_widget_fluid {
        width: 320px !important;
        height: 320px !important;
    }
    .fb_iframe_widget span {
        width: 320px !important;
        height: 320px !important;
    }
    .fb-page {
        width: 319px;
        height: 320px;
    }
    .footer {
        height: 7rem;
        padding: 2rem 1rem;
        background-color: rgb(8, 8, 8);
    }
}

/*ANIMATION KEYFRAMES*/